<p id="notice"><%= notice %></p>

<%= @customer.email %>
has <%= @customer.credits.count%> credits

<!-- %= link_to 'Edit', edit_customer_path(@customer) % --> |
<!-- %= link_to 'Back', customer_path % -->
